#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as 
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########################################################################################################
#########
#Exclude all
#########
*
!*/
!.gitignore

###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.bd
!*.edif
#########
#IP files
#########
#.xci: synthesis and implemented not possible - you need to return back to the previous version to generate output products
#.xci + .dcp: implementation possible but not re-synthesis
#*.xci(www.spiritconsortium.org)
!*.xci
#*.dcp(checkpoint files)
#!*.dcp
#!*.vds
#!*.pb
#All bd comments and layout coordinates are stored within .ui
#!*.ui
#!*.ooc
#########
#System Generator
#########
#!*.mdl
#!*.slx
#!*.bxml
#########
#Simulation logic analyzer
#########
#!*.wcfg
#!*.coe
#########
#MIG
#########
#!*.prj
#!*.mem
#########
#Project files
#########
#XPR  +  *.XML ? XPR (Files are merged into a single XPR file for 2014.1 version)
#Do NOT ignore *.xpr files
#!*.xpr
#Include *.xml files for 2013.4 or earlier version
#!*.xml
#########
#Constraint files
#########
#Do NOT ignore *.xdc files
!*.xdc
#########
#TCL - files
#########
#!*.tcl
#########
#Journal - files
#########
#!*.jou
#########
#Reports
#########
#!*.rpt
#!*.txt
#!*.vdi
#########
#C-files
#########
!*.c
!*.h
!*.elf
!*.bmm
!*.xmp

#########
#Specifics
#########
MOANA2/MOANA2.cache
planAhead_run*
MOANA2/MOANA2.runs
isim
netgen
MOANA2/MOANA2.sim
clk_wiz_0_ex
xem6010
MOANA2/MOANA2.srcs/sources_1/imports/generic_scan_KR_version/xilinx/
MOANA2/MOANA2.gen/sources_1/ip/ddr3_256_16/ddr3_256_16/example_design/par/
MOANA2/MOANA2.gen/sources_1/ip/ddr3_256_16/ddr3_256_16/example_design/rtl/
MOANA2/MOANA2.gen/sources_1/ip/ddr3_256_16/ddr3_256_16/user_design/
MOANA2/MOANA2.gen/sources_1/ip/fifo_W128_R16/
MOANA2/MOANA2.gen/sources_1/ip/fifo_W128_R32/
MOANA2/MOANA2.gen/sources_1/ip/fifo_W16_R8/
MOANA2/MOANA2.gen/sources_1/ip/fifo_W1_R1/
MOANA2/MOANA2.gen/sources_1/ip/fifo_W1_R8/
MOANA2/MOANA2.gen/sources_1/ip/fifo_W32_R128/
MOANA2/MOANA2.gen/sources_1/ip/fifo_W32_R128_FWFT/
MOANA2/MOANA2.gen/sources_1/ip/fifo_W32_R16/
MOANA2/MOANA2.gen/sources_1/ip/fifo_W32_R32/
MOANA2/MOANA2.gen/sources_1/ip/fifo_W8_R1/
MOANA2/MOANA2.gen/sources_1/ip/fifo_W8_R16/
MOANA2/MOANA2.gen/sources_1/ip/fifo_W8_R32/
MOANA2/MOANA2.gen/sources_1/ip/fifo_W8_R32_FWFT/
MOANA2/MOANA2.gen/sources_1/ip/clk_wiz_0_1/
MOANA2/MOANA2.srcs/sources_1/ip/fifo_W128_R16/
MOANA2/MOANA2.srcs/sources_1/ip/fifo_W32_R32/
MOANA2/MOANA2.srcs/sources_1/ip/fifo_W8_R32_FWFT/
MOANA2/MOANA2.ip_user_files/
MOANA2/MOANA2.gen/sources_1/ip/fifo_W16_R16/
MOANA2/MOANA2.gen/sources_1/ip/fifo_W16_R16_FWFT/
MOANA2/MOANA2.srcs/sources_1/ip/fifo_W16_R16/
MOANA2/MOANA2.srcs/sources_1/ip/fifo_W16_R16_FWFT/





